################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Primavera.Util.Refletor/Primavera.Util.Refletor/Primavera.Util.Refletor.csproj.user
